<div class="form-row">
  <label for="name">
    Name
  </label>
  <input id="name" name="name" placeholder="Jenny Rosen" required>
</div>
<div class="form-row" style="margin-bottom: 15px;">
  <label for="iban-element">
    IBAN
  </label>
  <div id="iban-element">
    <!-- A Stripe Element will be inserted here. -->
  </div>
    <!-- Used to display form errors. -->
    <div id="error-message" role="alert"></div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('pk_test_J1sgz5l3WKOCVy7Lm5SgqSUB');
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  var style = {
    base: {
      // Add your base input styles here. For example:
      fontSize: '16px',
      color: "#32325d",
    }
  };
  
  var options = {
    supportedCountries: ['SEPA'],
    // If you know the country of the customer, you can optionally pass it to
    // the Element as placeholderCountry. The example IBAN that is being used
    // as placeholder reflects the IBAN format of that country.
    placeholderCountry: 'DE',
  }

    // Create an instance of the iban Element.
    var iban = elements.create('iban', options);

    // Add an instance of the iban Element into the `iban-element` <div>.
    iban.mount('#iban-element');

    iban.on('change', function(event) {
      var displayError = document.getElementById('error-message');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

  // Create a token or display an error when the form is submitted.
  var form = document.getElementById('new_user');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    var sourceData = {
      type: 'sepa_debit',
      currency: 'eur',
      owner: {
        name: document.querySelector('input[name="name"]').value,
        email: document.querySelector('input[name="user[email]"').value,
      },
      mandate: {
        // Automatically send a mandate notification email to your customer
        // once the source is charged.
        notification_method: 'email',
      },
    };

    // Call `stripe.createSource` with the IBAN Element and additional options.
  stripe.createSource(iban, sourceData).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('error-message');
      errorElement.textContent = result.error.message;
    } else {
      // Send the Source to your server.
      stripeSourceHandler(result.source);
    }
  });
});

function stripeSourceHandler(source) {
  // Insert the Source ID into the form so it gets submitted to the server.
  var form = document.getElementById('new_user');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeSource');
  hiddenInput.setAttribute('value', source.id);
  form.appendChild(hiddenInput);

  // Submit the form.
  form.submit();
}
</script>