<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="nav-container"><a href="https://www.the-radr.com" class="w-nav-brand"><img src="images/radr-logo.png" alt="logo" height="43" width="131"></a>
      <nav role="navigation" class="w-nav-menu"><a href="/blog/event-seo-so-platzieren-sie-ihre-veranstaltung-in-suchmaschinen" class="nav-link blog w-nav-link">Blog</a></nav>
      <div><a href="/users/sign_in" class="button-3 w-hidden-medium w-hidden-small w-hidden-tiny w-button">Schon registriert?</a></div>
      <div class="menu-button w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <div style="opacity:0;display:none" class="mobile-block w-hidden-main">
        <div class="menu-text-2">Funktionen</div>
        <a href="/users/sign_in" class="dropdown-menu-wrap-sml w-inline-block w-clearfix">
          <div class="dropdown-icon-mob"><img src="images/Group-10_1Group-10.png" alt="" class="image-9"></div>
          <div class="dropdown-text-wrap">
            <div class="text-block-15">Anmelden</div>
          </div>
        </a>
        <a href="/registrieren" class="dropdown-menu-wrap-sml w-inline-block w-clearfix w--current">
          <div class="dropdown-icon-mob"><img src="images/Group-10_1Group-10.png" alt="" class="image-9"></div>
          <div class="dropdown-text-wrap">
            <div class="text-block-15">Registrieren</div>
          </div>
        </a>
        <a href="mailto:kontakt@the-radr.de" class="dropdown-menu-wrap-sml w-inline-block w-clearfix">
          <div class="dropdown-icon-mob"><img src="images/Group-10_1Group-10.png" alt="" class="image-9"></div>
          <div class="dropdown-text-wrap">
            <div class="text-block-15">Kontakt</div>
          </div>
        </a>
        <a href="https://www.the-radr.com/support" class="dropdown-menu-wrap-sml w-inline-block w-clearfix">
          <div class="dropdown-icon-mob"><img src="images/Group-10_1Group-10.png" alt="" class="image-9"></div>
          <div class="dropdown-text-wrap">
            <div class="text-block-15">FAQ&#x27;s und Support</div>
          </div>
        </a><a href="https://www.the-radr.com/datenschutz" class="link-5">Datenschutz</a><a href="https://www.the-radr.com/impressum" class="link-5">Impressum</a><a href="https://www.the-radr.com/agbs" class="link-5">AGB&#x27;s</a></div>
      <div data-w-id="f199c75f-d5b2-2537-33ae-6e54ae9f234d" class="burger-2 w-hidden-main">
        <div class="b2-bar1"></div>
        <div class="b2-middle-wrap">
          <div class="b2-middle-bar-left"></div>
          <div class="b2-middle-bar-right"></div>
        </div>
        <div class="b2-bar3"></div>
      </div>
    </div>
  </div>
  <div class="section-hero">
    <div class="container-register w-row">
      <div class="column-3 w-col w-col-6">
        <div class="container-hero">
          <h1 class="h1">Jetzt Kostenlos testen!</h1>
          <p class="p1">Wählen Sie jetzt zwischen unseren Paketen Keine Bindung (6€ pro Veranstaltung) &amp; Premium (Einmalig 50€) und testen Sie Radr kostenlos und unverbindlich. Mehr Details zu unseren Preisen finden Sie <a href="#pricing" style="color: white;">hier</a>.</p>
        </div>
      </div>
      <div class="w-col w-col-6">
          <%= render 'register_trial' %>
      </div>
    </div>
  </div>
  <div id="demo-anfordern" class="section-content">
    <h2 class="h2">So funktioniert es:</h2>
    <div class="container-plain">
      <div class="columns w-row">
        <div data-w-id="d8f657d7-07d8-615d-c032-2cb2bb9db670" style="opacity:0" class="w-col w-col-5">
          <h3 class="h3">Was Sie brauchen um Radr zu benutzen:</h3>
          <div data-w-id="287d3ba2-85d0-69ba-ae1e-c9f33f87ac7e" style="opacity:0" class="feature-wrap">
            <div class="feature-wrap-left">
              <div class="tick-circle"><img src="images/check.svg" width="18" alt=""></div>
            </div>
            <div class="feature-wrap-right">
              <h3 class="h4-2">Eine Webseite</h3>
              <p class="paragraph-2">Radr funktioniert indem wir die Event-Informationen über Ihre Webseite an Google weiterleiten!</p>
            </div>
          </div>
          <div data-w-id="b0ac87f0-b7fa-9e76-c46f-c6dcc5b8edba" style="opacity:0" class="feature-wrap">
            <div class="feature-wrap-left">
              <div class="tick-circle"><img src="images/check.svg" width="18" alt=""></div>
            </div>
            <div class="feature-wrap-right">
              <h3 class="h4-2">Zugang zu Ihrer Webseite </h3>
              <p class="paragraph-2">Um mit Radr loszulegen müssen sie einen Code-Schnipsel in ihre Webseite einfügen. Dies ist kinderleicht und Sie bekommen zudem genaue Instruktionen von uns.</p>
            </div>
          </div>
        </div>
        <div data-w-id="d8f657d7-07d8-615d-c032-2cb2bb9db677" style="opacity:0" class="w-col w-col-7">
          <div style="padding-top:56.17021276595745%" id="w-node-83461973152e-ac3dfcf4" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FnsBiz0SEPZM%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DnsBiz0SEPZM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FnsBiz0SEPZM%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
        </div>
      </div>
    </div>
  </div>
  <div id="pricing" class="section-pricing">
    <div class="container-pricing w-container">
      <h1 class="pricing-h1">Preise</h1>
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="panel">
            <h2 class="pricing-header">Keine Bindung</h2>
            <div>
              <h3 class="price-tag">6€</h3>
              <h4 class="price-per">/Veranstaltung</h4>
            </div>
            <p class="paragraph-5">Zahlen Sie pro Veranstaltung ohne zusätzlichen Kosten.<br></p>
            <ul class="unordered-list">
              <li class="price-li">Automatisiert (Einmalig in die Webseite einbinden)<br></li>
              <li class="price-li _2">Aktualisieren Sie Ihre Veranstaltung bei Änderungen<br></li>
              <li class="price-li _2">Beliebig viele Veranstaltungsorte anlegen<br></li>
              <li class="price-li _2">Veranstaltungs-Kalendar für die Webseite<br></li>
            </ul><a id="keine-bindung" href="https://app.the-radr.com/registrieren?paket=keine-bindung" class="button primary width100 w-button">Erste Veranstaltung kostenlos</a></div>
        </div>
        <div class="column-4 w-col w-col-4">
          <div class="panel premium">
            <h2 class="pricing-header">Premium</h2>
            <div>
              <h3 class="price-tag">50€</h3>
              <h4 class="price-per">/Einmalig</h4>
            </div>
            <p class="paragraph-5">Jetzt für kurze Zeit statt Jährlicher Zahlung einmalig zahlen.<br></p>
            <ul class="unordered-list">
              <li class="price-li">Keine Bindung plus<br></li>
              <li class="price-li _2">Beliebig viele Veranstaltungen anlegen.<br></li>
              <li class="price-li _2">Veranstaltungs-Kalendar für die Webseite<br><br></li>
              <li class="price-li _2">Tipps zur Optimierung Ihrer Webseite<br><br></li>
            </ul><a id="premium" href="https://app.the-radr.com/registrieren?paket=premium" class="button primary width100 w-button">14 Tage kostenlos testen</a></div>
        </div>
        <div class="w-col w-col-4">
          <div class="panel last">
            <h2 class="pricing-header">Kostenlos</h2>
            <div>
              <h3 class="price-tag free">0€</h3>
              <h4 class="price-per">/Einmalig</h4>
            </div>
            <p class="paragraph-5">Erstellen Sie den Code kostenlos in unserem Generator.<br></p>
            <ul class="unordered-list">
              <li class="price-li">1 Veranstaltung<br></li>
              <li class="price-li _2">Keine Veranstaltungsorte<br></li>
              <li class="price-li _2">Nicht automatisiert<br></li>
              <li class="price-li _2">Keine Aktualisierung möglich<br></li>
            </ul><a id="free" href="https://app.the-radr.com/kostenlos" class="button primary width100 w-button">Erste Veranstaltung kostenlos</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-footer">
    <div class="footer-wrap">
      <div class="footer-logo-top">
        <div><a href="#" class="w-nav-brand"><img src="images/radr-logo.png" height="40" alt="Radr Logo"></a></div>
        <div class="div-block-5 w-hidden-tiny"><a href="https://app.the-radr.com/users/sign_up" class="button-5 w-button">Registrieren</a></div>
      </div>
    </div>
    <div class="columns-3 w-row">
      <div class="footer-col w-col w-col-2 w-col-small-small-stack">
        <div class="text-block-footer">Radr</div><a href="https://app.the-radr.com/users/sign_up" class="link-3">Registrieren</a><a href="https://app.the-radr.com/users/sign_in" class="link-3">Log In</a><a href="#" class="link-3">Support</a><a href="mailto:kontakt@the-radr.com" class="link-3">Kontakt</a></div>
      <div class="footer-col w-col w-col-2 w-col-small-small-stack">
        <div class="text-block-footer">Soziale Netzwerke</div><a href="https://www.facebook.com/theradr/" rel="noreferrer" target="_blank" class="link-3">Facebook</a><a href="https://www.instagram.com/theradrapp/" rel="noreferrer" target="_blank" class="link-3">Instagram</a><a href="https://www.youtube.com/channel/UCw0TO5bAOmogvWbFoaXinQQ" rel="noreferrer" target="_blank" class="link-3">YouTube</a></div>
      <div class="footer-col w-col w-col-2 w-col-small-small-stack">
        <div class="text-block-footer">Blog</div><a href="#" class="link-3">Event SEO</a><a href="#" class="link-3">Google MyBusiness</a><a href="#" class="link-3">Facebook Marketing</a></div>
      <div class="footer-col w-col w-col-2 w-col-small-small-stack">
        <div class="text-block-footer">Legal</div><a href="#" class="link-3">Datenschutz</a><a href="#" class="link-3">Impressum</a><a href="#" class="link-3">AGB&#x27;s</a><a href="https://icons8.com" class="link-3">Illustrationen</a></div>
      <div class="footer-col-right w-clearfix w-col w-col-4 w-col-small-small-stack">
        <div class="text-block-footer">Follow Our Socials</div>
        <div class="social-icons-wrap"><a rel="noreferrer" href="https://www.facebook.com/theradr/" target="_blank" class="w-inline-block"><img src="images/211902-48_1211902-48.png" width="30" alt="Facebook" class="image-11"></a><a rel="noreferrer" href="https://www.instagram.com/theradrapp/" target="_blank" class="w-inline-block"><img src="images/1161953-48_11161953-48.png" width="27" alt="Instagram" class="image-11"></a><a rel="noreferrer" href="https://www.youtube.com/channel/UCw0TO5bAOmogvWbFoaXinQQ" target="_blank" class="w-inline-block"><img src="images/765195-48_1765195-48.png" width="36" alt="YouTube Kanal" class="image-11"></a></div>
      </div>
    </div>
  </div>
  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!--  Google Tag Manager (noscript)  -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSNLS2Z" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!--  End Google Tag Manager (noscript)  -->

