<div style="width: 90vw; max-width: 1100px; margin: auto;">
  <h1 style="font-size: 2rem;">Bezahlinformation</h1>
  <p class="info">Ihre erste Veranstaltung wurde erfolgreich angelegt. Um fortzufahren wählen Sie nun bitte Ihre Bezahlart. Es stehen Ihnen Zahlung mit Kreditkarte oder per Rechnung zur Verfügung.
    Beachten Sie bitte, dass wir zu keinem Zeitpunkt Ihre Kreditkarteninformationen in unserer Datenbank speichern. Diese wird bei unserem Bezahlsystem Stripe hinterlegt und kann nicht eingesehen werden.
    Sie können Ihre Mietgliedschaft innerhalb der Probezeit kündigen ohne das Kosten entstehen.
  </p>
</div>
<div class="trial-container">
  <div class="newEvent newEvent1" style="width: 100%;">   
    <%= form_for(@user, :html => {role: "form"}, url: create_trial_payment_path) do |f| %>
    <fieldset>
      <div class="row">
        <label for="vorname">Vorname</label>
        <input name="vorname" type="text" placeholder="Max" autocomplete="vorname">
      </div>
      <div class="row">
        <label for="nachname">Nachname</label>
        <input name="nachname" type="text" placeholder="Mustermann" autocomplete="nachname">
      </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <label for="performer_type">Plan</label>
          <select name="plan" for="plan" id="plan">
            <option value="premium" <% if @user.plan == "premium" %>selected<% end %>>50€ einmalig</option>
            <option value="keinebindung" <% if @user.plan == "keinebindung" %>selected<% end %>>5,99€ pro Veranstaltung</option>
          </select>
        </div>
      </fieldset>
      <script>
        $('#plan').on('change', function(){
          var plan = $(this).val()
          if (plan == 'keinebindung') {
            $('#when').text('Zahlung Nächste Veranst.');
            $('#amount').text('5,99€');
            $('#more').text('Es enstehen keine weitere Kosten vor Erstellung der zweiten Veranstaltung');
          } else {
            $('#when').text('Zahlbetrag in 14 Tagen');
            $('#amount').text('50€');
            $('#more').text('Jederzeit kündbar vor Ablauf der Testphase');
          };
        })
      </script>
      <%= render '/devise/registrations/payment_card2' %>
      <fieldset>
      <div class="row">
          <%= f.submit "Jetzt bezahlen", style: "margin-top: 10px", id: "payment" %>
      </div>
      </fieldset>
      <%= link_to "Auf Rechnung zahlen", trial_bill_path %>
    <% end %>
  </div>
  <div class="rechnung">
    <h2>Zusammenfassung</h2>
      <hr>
      <table class="sum">
        <tr>
          <td>Zwischensumme</td>
          <td style="text-align: right;">0€</td>
        </tr> 
      </table>
      <hr>
      <table class="zahlbetrag">
        <tr style="font-size: 1.2rem;">
          <td>Zahlbetrag</td>
          <td style="text-align: right;">0€</td>
        </tr> 
        <% if @user.plan == "keinebindung" %>
          <tr>
            <td id="when">Zahlung Nächste Veranst.</td>
            <td style="text-align: right;" id="amount">5,99€</td>
          </tr>
          <tr>
            <td style="font-size: 0.8rem;"  id="more" >Es enstehen keine weitere Kosten vor Erstellung der zweiten Veranstaltung</td>
          </tr>
        <% else %>
          <tr>
            <td id="when">Zahlbetrag in 14 Tagen</td>
            <td style="text-align: right;" id="amount">50€</td>
          </tr>
          <tr>
            <td style="font-size: 0.8rem;" id="more">Jederzeit kündbar vor Ablauf der Testphase</td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
